.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

}

.character div {
    font-size: 25px;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}